<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>넬보스코 관리자</title>
    <head th:replace="admin/adminHead :: headFragment"></head>
<link rel="stylesheet" type="text/css" href="../css/temp.css" />
</head>
<body>
<header th:replace="admin/adminHeader :: headerFragment"></header>

<div class="tipInfo">
	<ul class="tip">
		<li>링크클릭시 <u>'Shift + 클릭'</u> 은 새창, <u>'Ctrl + 클릭'</u>은 새탭 으로 열립니다.</li>
		<li>
			<a th:if="${session.administrator == 'vegemil'}" class="today" href="/admin/login" style="color:#fff">[로그아웃]</a>
		</li>
	</ul>
</div>

<div id="body">
	<div  id="content-area" class="naviArea">
		<h2>넬보스코</h2>
		<br>
	
		<ul class="depth1">
			<li class="on"><strong>Mail</strong>
				<ul>
					<li class="off"><a href="#" title="내용">메인</a></li>
					<li class="off"><a href="#" title="내용">인트로 > 카페/레스토랑 구분</a></li>
					<li class="off"><a href="#" title="내용">메인 > 메뉴 > 카페/레스토랑 구분</a></li>
				</ul>
			</li>
		</ul>
		<ul class="depth1">
			<li class="on"><strong>Menu</strong>
				<ul>
					<li class="off"><a href="#" title="내용">New</a></li>
					<li class="off"><a href="#" title="내용">Espresso</a></li>
					<li class="off"><a href="#" title="내용">Tea</a></li>
					<li class="off"><a href="#" title="내용">Special Soy Milk</a></li>
					<li class="off"><a href="#" title="내용">Ade</a></li>
					<li class="off"><a href="#" title="내용">Smoothie</a></li>
					<li class="off"><a href="#" title="내용">Bread</a></li>
					<li class="off"><a href="#" title="내용">Cake&Dessert</a></li>
					<li class="off"><a href="#" title="내용">Gift</a></li>
					<li class="off"><a href="#" title="내용">Etc</a></li>
				</ul>
			</li>
		</ul>
		<ul class="depth1">
			<li class="on"><strong>Community</strong>
				<ul>
					<li class="off"><a href="#" title="내용">공지사항</a></li>
					<li class="off"><a href="#" title="내용">이벤트</a></li>
					<li class="off"><a href="#" title="내용">넬보스코 맛있는 레시피</a></li>
					
				</ul>
			</li>
		</ul>
		<ul class="depth1">
			<li class="on"><strong>Contact</strong>
				<ul>
					<li class="on"><a href="/admin/adminContactList" title="내용">고객상담</a></li>
					<li class="off"><a href="#" title="내용">Faq</a></li>
					<li class="on"><a href="/admin/adminBookingList" title="내용">예약문의 리스트</a></li>
					
				</ul>
			</li>
		</ul>
		
		<h2>넬보스코 이탈리안 레스토랑</h2>
		<br>
	
		<ul class="depth1">
			<li class="on"><strong>메인</strong>
				<ul>
					<li class="off"><a href="#" title="내용" target="_blank">메인</a></li>
				</ul>
			</li>
		</ul>
		<ul class="depth1">
			<li class="on"><strong>About</strong>
				<ul>
					<li class="off"><a href="#" title="내용" target="_blank">레스토랑 소개</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">브랜드 아이덴티티</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">셰프 소개</a></li>
					<li class="off"><a href="#" title="내용" target="_blank" style="color:red">남촌(南村) 둘러보기 (*데이터 요청)</a></li>
				</ul>
			</li>
			
		</ul>
		<ul class="depth1">
			<li class="on"><strong>Menu</strong>
				<ul>
					<li class="off"><a href="#" title="내용" target="_blank">Brunch</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">Dinner</a></li>
				</ul>
			</li>
		</ul>
		<ul class="depth1">
			<li class="on"><strong>Music</strong>
				<ul>
					<li class="on"><a href="/admin/music" title="내용" target="_blank" style="color:blue">음악 이야기 (개발:날짜수정할 수 있도록 개발)</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">아티스트 소개</a></li>
					<li class="on"><a href="/admin/adminContactList" title="내용" target="_blank" style="color:blue">출연문의 (개발:넬보스코직원 메일로 받기)</a></li>
				</ul>
			</li>
		</ul>
        <ul class="depth1">
			<li class="on"><strong>Contact</strong>
				<ul>
					<li class="off"><a href="#" title="내용" target="_blank">공지사항</a></li>
					<li class="on"><a href="/admin/adminContactList" title="내용" target="_blank">고객상담</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">이벤트</a></li>
					<li class="off"><a href="#" title="내용" target="_blank">오시는길</a></li>
					
					<li class="off"><a href="#" title="내용" target="_blank" style="color:red">예약하기 (*네이버 주소 필요) </a></li>
					<li class="off"><a href="#" title="내용" target="_blank" style="color:red">자주묻는질문 (*데이터 요청)</a></li>
				</ul>
			</li>
		</ul>
		
	</div>
</div>

<div id="foot">
copyright&copy;
</div>
</body>
</html>