<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<footer class="container100 bg_black" id="b_footer" th:fragment="footerFragment">
<div class="container">
	<div class="row">
		<div class="col-lg-7 col-sm-12 col-md-7 ">
			<ul class="foot_ins">
				<li><p class="f15_5w"><a href="/cafe/community/ins" >개인정보처리방침</a></li>
				<li><p class="f15_4w"><a href="/cafe/community/uselaw" >이용약관</a></li>
				<li><p class="f15_4w"><a href="/restaurant/bcontact/contact" >고객상담</a></p></li>
				<li><p class="f15_4w"><a href="/restaurant/bcontact/map">오시는길</a></p></li>
				<li><span><a href="https://www.instagram.com/nelbosco.official" target="_blank"><img th:src="@{/img/ico_insta.png}" alt=""/></a></span></li>
			</ul>
			<p class="f15_4 foo_add mt10">서울특별시 중구 퇴계로 8길 16
			정식품 B&C사업부 &nbsp;&nbsp;TEL : <span style="color:#fff">1층 02-3484-9401 / 2층 02-3484-9400 / 5층 02-3484-9403</span></p>
		</div>
		<div class="col-lg-5 col-sm-12 col-md-5 ">
			<p class="f15_4 foot_copy">2021 © Nel Bosco. All Rights Reserved. </p><!-- 2021-06-10 -->
		</div>
	</div>
</div>
<script type="text/x-javascript">
(function(w, d, a){
    w.__beusablerumclient__ = {
        load : function(src){
            var b = d.createElement("script");
            b.src = src; b.async=true; b.type = "text/x-javascript";
            d.getElementsByTagName("head")[0].appendChild(b);
        }
    };w.__beusablerumclient__.load(a);
})(window, document, "//rum.beusable.net/script/b161207e112311u833/1a01da0ba9");
</script>
</footer>
</html>